<h2 class="d-flex align-items-end justify-content-between">
  ボタンをトリガーに
  <a href="https://github.com/itigoore01/ngx-yubinbango/tree/master/projects/ngx-yubinbango-demo/src/app/examples/yubin-bango-manual-complete-example" class="align-self-end" target="_new" class="btn btn-link btn-sm"><i class="fas fa-external-link-alt"></i> サンプル</a>
</h2>
<hr>

<form class="example-form" ybAddress (submit)="false" [ybAutocompleteMode]="'off'" #address="ybAddress">
  <div class="form-group">
    <label for="postalCodeInput">郵便番号</label>
    <div class="input-group">
      <input id="postalCodeInput" class="form-control" placeholder="郵便番号" ybPostalCode>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="address.complete()">補完する</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="regionInput">都道府県</label>
    <input id="regionInput" class="form-control" placeholder="都道府県" ybRegion>
  </div>

  <div class="form-group">
    <label for="localityInput">市区町村</label>
    <input id="localityInput" class="form-control" placeholder="市区町村" ybLocality>
  </div>

  <div class="form-group">
    <label for="streetInput">町名</label>
    <input id="streetInput" class="form-control" placeholder="町名" ybStreet>
  </div>

  <div class="form-group">
    <label for="extendedInput">その他</label>
    <input id="extendedInput" class="form-control" placeholder="その他" ybExtended>
  </div>
</form>
