<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">ngx-yubinbango</h1>
    <p class="lead">ngx-yubinbango は、郵便番号を自動補完するAngular用のライブラリです。</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="https://github.com/itigoore01/ngx-yubinbango" role="button">GET STARTED</a>
  </div>
</div>

<div class="container">
  <h1 class="display-4">Demo</h1>

  <hr class="my-4">

  <div class="row">
    <app-yubin-bango-basic-example class="col-md-6 my-3"></app-yubin-bango-basic-example>

    <app-yubin-bango-separated-postal-code-example class="col-md-6 my-3"></app-yubin-bango-separated-postal-code-example>

    <app-yubin-bango-onchange-example class="col-md-6 my-3"></app-yubin-bango-onchange-example>

    <app-yubin-bango-manual-complete-example class="col-md-6 my-3"></app-yubin-bango-manual-complete-example>

    <app-yubin-bango-one-target-example class="col-md-6 my-3"></app-yubin-bango-one-target-example>
  </div>
</div>
